<div class="col-md-6 col-md-offset-3">
    <h3 class="text-center">Войти</h3>
    <form id="login_form" class="well" ng-submit="login(credentials)" method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Имя пользователя" ng-model="credentials.username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Пароль" ng-model="credentials.password">
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-default" value="Войти">
        </div>
    </form>    
</div>